$whiteLightness: 100%;
$black: #151317;
$Deluge: #876aae;
$KingfisherDaisy: #512689;
$Bittersweet: #ff6161;
$StormGrey: #808185;
$white: hsl(0, 0%, $whiteLightness);
$greyF8: hsl(0, 0%, calc($whiteLightness - 2.75%));
$greyEB: hsl(0, 0%, calc($whiteLightness - 7.84%));
